nav,
footer {
    background-color: #d1d1e0;
}

#contact {
    font-style: oblique;
}

#home:hover,
#work-samples:hover,
#resume:hover,
#about:hover {
    text-decoration: underline;
}

.custom-jumbo {
    /* background-image: url("med-software.png"); */
    margin-bottom: 0;
}

.custom-container {
    max-width: 50%;
    border-radius: 10px;
    padding: 1%;
}

.custom-container a {
    color: inherit;
}

.custom-container i {
    margin-right: 1%;
}

li {
    list-style-type: none;
}

footer{
    margin-bottom: 0;
    padding: 1%;
    font-family: inherit;
}