nav,
footer {
    background-color: #d1d1e0;
}

#resume {
    font-style: oblique;
}

#home:hover,
#work-samples:hover,
#contact:hover,
#about:hover {
    text-decoration: underline;
}

footer{
    margin-bottom: 0;
    padding: 1%;
    font-family: inherit;
}