* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
}

header {
    background-color: aqua;
    position: relative;
    display: block;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

a {
    text-decoration: none;
}

h2 {
    border: 5px solid black;
}

.about-me-section {
    background-color: yellow;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.contact-section {
    background-color: beige;
}

.contact-section ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.resume-section {
    background-color: pink;
}