* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 2%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    margin: 1%;
    max-width: 1200px;
}

section {
    padding-right: 5%;
}

.about-section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.projects article {
    padding: 2%;
}

.main-project {
    text-align: center;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside {
    width: 15%;
}

aside ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
        text-align: center;
    }

    .about-section {
        flex-direction: column;
    }

    /* This image does not need to be so big

    .about-section img {

    } */

    aside {
        width: 100%;
    }
    
}