nav,
footer {
    background-color: #d1d1e0;
}

#work-samples {
    font-style: oblique;
}

#home:hover,
#about:hover,
#resume:hover,
#contact:hover {
    text-decoration: underline;
}

ol {
    background-color: black;
    border-radius: 0 0 5px 5px;
}

.carousel-caption {
    background-color: white;
    border-radius: 5px 5px 0 0;
    border: 2px solid black;
}

.custom-caption {
    opacity: 0.8;
    border: 2px solid white;
}

.custom-icon {
    background-color: black;
    border-radius: 5px;
}

footer{
    margin-bottom: 0;
    padding: 1%;
    font-family: inherit;
}